<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>hooool {{ price }}  </p>
    <form id="myForm">
        <input class="code" type="text" id="text" name="text" required>
        <button class="login__btn" type="submit">отправить</button>
    </form>
<script>
document.getElementById('myForm').addEventListener('submit', function(event) {
    event.preventDefault(); 

    const inputValue = document.getElementById('text').value;
    
    let form = document.getElementById('myForm');
    let status = document.createElement('p');

    const data = {
        code: inputValue
    };

    fetch('http://127.0.0.1:8000/product/buy/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(result => {
        console.log('Success:', result);
        status.textContent = 'Оплата прошла';
        status.style.color = 'green'
        form.append(status);
    })
    .catch(error => {
        console.error('Error:', error);
        status.textContent = 'Оплата не прошла';
        status.style.color = 'red'
        form.append(status);
    });
});
</script>
</body>
</html>
